<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prodotto nuovo</title>
</head>
<body>
    <form action="/films/nuovo" method="post">
        <label for="codice">Codice:</label>
        <input type="text" id="codice" name="codice"> <br>

        <label for="titolo">Titolo:</label>
        <input type="text" id="titolo" name="titolo"> <br>

        <label for="genere">Genere:</label>
        <input type="text" id="genere" name="genere"> <br>

        <label for="anno">Anno:</label>
        <input type="text" id="anno" name="anno"> <br>

        <label for="voto">Voto:</label>
        <input type="text" id="voto" name="voto"> <br>

        <button type="submit">Aggiungi Film</button>
    </form>
</body>
</html>